
<div class="row-fluid">
	<div class="span1">
		<%= f.number_field :number, :class => 'input-mini' %>
	</div>
	<div class="span1">
		<%= f.number_field :quantity, :class => 'input-mini' %>
	</div>
	<div class="span6">
		<%= f.text_field :detail, :class => 'input-xxlarge' %>
	</div>
	<div class="span1">

		<%= f.text_field :price, :class => 'input-mini' %>
	</div>

	<div class="span1">
<%= f.number_field :markup, :class => 'input-mini' %> %
	</div>
	
	<div class="span2" id="<%= f.object_name %>_import">
		
	</div>
</div>


