<div class="row-fluid">
	<div class="span1">
		<%= f.number_field :number, :class => 'input-super-mini' %>
	</div>
	<div class="span1">
		<%= f.number_field :quantity, :class => 'input-super-mini', 
		:id_line => form_tag_id(f.object_name, ""),
		:onchange => "calculate_amount(this.id)" %>
	</div>
	<div class="span6">
		<%= f.text_field :detail, :class => 'input-xxlarge' %>
	</div>
	<div class="span1">

		<%= f.text_field :price, :class => 'input-super-mini input-price', 
		:id_line => form_tag_id(f.object_name, ""),
		:onchange => "calculate_amount(this.id)" %>
	</div>

	<div class="span1">

		<%= f.number_field :markup, :class => 'input-markup', 
		:id_line => form_tag_id(f.object_name, ""),
		:onchange => "calculate_amount(this.id)" %> %
	</div>

	<div class="span2" >
		<%= f.number_field :import, :class => 'input-super-mini', :readonly => true %>
		<%= link_to_remove_fields content_tag(:i,nil, :class => "icon-minus-sign"), f %> 

	</div>
</div>

