<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html =>{:class => "form-horizontal"}) do |f| %>

	<legend>
		Registrarse
	</legend>
	<div class="control-group">
		<%= f.label :email, nil, :class => "control-label" %>
		<div class="controls">
			<%= f.email_field :email, :autofocus => true %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :password, "Contraseña", :class => "control-label" %>
		<div class="controls">
			<%= f.password_field :password %>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<% if devise_mapping.rememberable? -%>
			<label class="checkbox"> <%= f.check_box :remember_me %>
				Recordarme </label>
			<% end -%>
			<button type="submit" class="btn btn-primary">
				Ingresar
			</button>
		</div>
	</div>

<% end %>

<%= render "devise/shared/links" %>
